$brand-primary: #673AB7;

#maps{
  display: block;
  position: relative;
  // background-color: $gray-lighter;

  #jakarta{
    
  }

  #java{
  }
}

#line_canvas{
  position: absolute;
  // height: 100%;
  // width: 100%;
  top: 0px;
  // bottom: 0px;
  // right: 0px;
  // padding: 0 15px 0 15px;
}